@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers like Chrome, Safari */
.custom-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #4a5568 #e2e8f0; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 1px; /* Thin scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #e2e8f0; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a5568; /* Handle color */
    border-radius: 2px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2d3748; /* Handle color on hover */
}
